<?xml version='1.0' encoding='UTF-8'?>
<widget>
  <widgetname>StorageJS Testwidget</widgetname>
  <description>Tests for the Widget Preference Store.</description>
  <width>400</width>
  <height>600</height>
  <author>
    <name>Jens Arps</name>
    <email>mail@jensarps.de</email>
    <link>http://jensarps.de</link>
  </author>
  <id>
    <host>jensarps.de</host>
    <name>SJSTest</name>
    <revised>2010-10-11</revised>
  </id>
</widget>
